.app-graph-container {
    display:block;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
}
.app-graph {
    width:100%;
    height:100%;
    position:absolute;
    top:0; left:0;
}
.app-graph .axis text {
    fill: rgba(0,0,0,.9);
}
.app-graph .line {
    stroke: #000;
    stroke-width: 2;
    fill: none;
}
.app-graph .axis [class*="label"] {
    font-size:12px;
}

.g1-start {
    stop-color: red;
}
.g1-end {
    stop-color: blue;
}

.app-graph .line-1 { stroke: #666; }
.app-graph .line-2 { stroke: #333; }
.app-graph .line-3 { stroke: #999; }
.app-graph .line-4 { stroke: #ccc; }
.app-graph .bar-0 { fill: #666; }
.app-graph .bar-1 { fill: #333; }
.app-graph .bar-2 { fill: #999; }
.app-graph .bar-3 { fill: #ccc; }

.app-graph .graph-rect { fill:none; stroke: none;  }
